body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 50;
    text-align: center;
    background-color: #ffffff; /* רקע לבן */
    font-family: arial;
    overflow: auto;
}

#container {
    background-color: #e8e8e8; /* רקע אפור */
    border: 2px solid #add5ff; /* מסגרת ירוקה */
    border-radius: 10px; /* פינות מעוגלות */
    padding: 50px; /* מרווח פנימי */
    margin-top: 500px;
}

#chartContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#tumorForm {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


#result {
    font-size: 20px;
}

#ellipseCanvas {
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
    border: 1px solid black;
    background-color: transparent;
    border: none;
}

#x-axis {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    text-align: center;
}

#y-axis {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    text-align: right;
}

button {
    background-color: #add5ff; /* רקע ירוק */
    color: #0a0606; /*צבע טקסטן */
    padding: 15px 30px; /* מרווח פנימי */
    font-size: 16px;
    border: none;
    border-radius: 5px; /* פינות מעוגלות */
    cursor: pointer;
}
#tumorForm input[type="number"], #tumorForm input[type="checkbox"] {
    width: 400px; /* רוחב התיבות מספר */
    height: 30px; /* גובה התיבות מספר */
    margin-bottom: 10px; /* מרווח בין התיבות מספר */
}

#tumorForm input[type="checkbox"] {
   width: 20px;
   height: 30px;
}


