
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 30;
    text-align: center;
    background-color: #ffffff; /* רקע לבן */
    font-family: arial;
    overflow: auto;
}

h2 {
    font-size: 24px; /* גודל קטן יותר לכותרות */
}


#container {
    width: 50%;
    background-color: #e8e8e8; /* רקע אפור */
    border: 2px solid #add5ff; /* מסגרת ירוקה */
    border-radius: 10px; /* פינות מעוגלות */
    padding: 50px; /* מרווח פנימי */
    margin-top: 500px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #container {
        width: 70%; 
    }
}

#chartContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tumorForm {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#ellipseCanvas {
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
    border: 1px solid black;
    background-color: transparent;
    border: none;
}

button {
    background-color: #add5ff; /* רקע ירוק */
    color: #0a0606; /* צבע טקסט לבן */
    padding: 15px 30px; /* מרווח פנימי */
    font-size: 16px;
    border: none;
    border-radius: 5px; /* פינות מעוגלות */
    cursor: pointer;
}
#tumorForm {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    /*align-items: center; /* להראות את התיבות באמצע */
}

#tumorForm input[type="number"], #tumorForm input[type="checkbox"] {
    width: 170px;
    height: 25px; /* גובה התיבות מספר */
    margin-bottom: 10px;
    border: 2px solid #add5ff;
    border-radius: 10px;
    padding: 5px;
    background-color: #e5edf6;
   box-sizing: border-box;
}



#tumorForm input[type="checkbox"] {
    width: auto; /* כדי לא לשנות את רוחב התיבה של הcheckbox */
}


#tumorForm input[type="checkbox"] {
   width: 20px;
   height: 30px;
}

#result {
    font-size: 20px;
    white-space: nowrap;
    text-align: center
}

@media only screen and (max-width: 600px) {
    #result {
        font-size: 14px;
        text-align: center
    }
}
